{% extends 'base.html' %}
{% load my_filter %}
{% block title %}
    <title>变更管理</title>
{% endblock %}

{% block connect %}
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
<link rel="stylesheet" href="/static/css/change_management.css">
    <body class ='bo'>
        <table  class="lis">
            <thead>
            <tr>
                <th>序号</th>
                <th>变更编号</th>
                <th>关联类型</th>
                <th>关联编号</th>
                <th>数据库</th>
                <th>变更内容</th>
                <th>填报人</th>
                <th>填报时间</th>
                <th>审核人</th>
                <th>审核状态</th>
                <th>审核内容</th>
                <th>审核时间</th>
                <th>编辑</th>
            </tr>
            </thead>

            <tbody>
            {% for changemanagement in changemanagements %}
            
            {% endfor %}
            
                {% for changemanagement in changemanagements %}
                    {% if forloop.first %}
                        <tr style="background: chartreuse">
                    {% elif forloop.last %}
                        <tr style="background: aqua">
                    {% else %}
                        <tr>
                    {% endif %}
                    <td class ='序号'>{{ forloop.counter}}</td>
                    <td class ='00-变更编号'>{{ changemanagement.0}}</td>
                    <td class ='01-关联类型'>{{ changemanagement.1}}</td>
                    <td class ='02-关联编号'>{{ changemanagement.2}}</td>
                    <td class ='03-数据库'>{{ changemanagement.3}}</td>
                    <td class ='09-变更内容'>{{ changemanagement.9}}</td>
                    <td class ='04-填报人'>{{ changemanagement.4}}</td>
                    <td class ='05-填报时间'>{{ changemanagement.5|date:"Y-m-d H:i:s"}}</td>
                    <td class ='06-审核人'>{{ changemanagement.6|default:''}}</td>
                    <td class ='07-审核状态'>{{ changemanagement.7|default:''}}</td>
                    <td class ='08-审核内容'>{{ changemanagement.8|default:''}}</td>
                    <td class ='10-审核时间'>{{ changemanagement.10|date:"Y-m-d H:i:s"}}</td>
                    <td>
                        <form action="{% url 'change_management:changemanagement_delete' %}"method="post">
                            <input type="hidden" name="ChangeID" value="{{ changemanagement.0 }}">
                            <input type="submit"value="编辑"  name="editor">
                            <input type="submit"value="删除" name="delete">
                        </form>

                    </td>

                {% endfor %}
            </tbody>
        </table>
    </body>

{% endblock %}
